#homepicture{
height: 500px;
width: 800px;
}
body{
background-color: magenta;
text-align: center;
}
h2{
font-size:30px;
}
.links{
font-size: 20px;
font-family: cursive;
}
html {
scroll-behavior: smooth;
}
#myCarsousel{
background-color: red;
}
#myCarsousel img{
height: 300px;
margin-top: 35px;
}
.carousel-inner p{
margin-bottom: 15px;
margin-top: 15px;
color: white;
font-size:20px;